:root {
  --blue-100: hsl(210, 46%, 95%);
  --blue-200: hsl(212, 23%, 69%);
  --blue-300: hsl(214, 17%, 51%);
  --blue-400: hsl(217, 19%, 35%);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: var(--blue-100);
}

main {
  background-color: white;
  max-width: calc(375px - 3em);
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 10px 10px 5px hsl(0deg 0% 0% / 15%);
}

.card__hero img {
  height: 16em;
  width: 100%;
  object-fit: cover;
  object-position: 0 -1em;
}

.card__body {
  padding: 3.5em 3em 1em;
}

.card__body h1 {
  font-size: 1.25rem;
  color: var(--blue-400);
  margin-block-end: 1em;
}

.card__body p {
  color: var(--blue-300);
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25em 3em;
  margin-block-start: 0.5em;
  position: relative;
}

.author {
  display: flex;
  column-gap: 1em;
  color: var(--blue-400);
}

.author img {
  width: 2.5em;
  border-radius: 50%;
}

.author time {
  color: var(--blue-200);
}

.btn {
  width: 2.25em;
  height: 2.25em;
  border-radius: 50%;
  background-color: var(--blue-100);
  z-index: 2;
  cursor: pointer;
}

.btn.active {
  background-color: var(--blue-300);
}

.btn.active img {
  filter: brightness(0) invert(1);
}

.btn img {
  margin-inline: auto;
  display: inline-block;
}

.share {
  background-color: var(--blue-400);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 1.25em;
  padding: 1.75em 3em;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.share.active {
  opacity: 1;
}

.share h2 {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  color: var(--blue-200);
  font-weight: 500;
}

.share ul {
  display: flex;
  align-items: center;
  column-gap: 1.25em;
}

@media only screen and (min-width: 768px) {
  main {
    max-width: fit-content;
    display: grid;
    grid-template-columns: 20.5em 35em;
    overflow: visible;
  }
  .card__hero img {
    height: 20em;
    width: 100%;
    object-fit: cover;
    object-position: 0;
    border-radius: 1em 0 0 1em;
  }

  .card__body {
    padding: 2em 3.5em 0;
  }

  .card__body h1 {
    font-size: 1.5rem;
    margin-block-end: 0.75em;
  }

  .share {
    width: fit-content;
    border-radius: 1em;
    left: auto;
    padding: 1em 2em;
    right: -4em;
    bottom: 6em;
    box-shadow: 5px 5px 5px hsl(0deg 0% 0% / 15%);
  }

  .share::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: calc(50% - 1.75em);
    bottom: -1em;
    border-width: 2em 2em 0px 2em;
    border-color: var(--blue-400) transparent transparent transparent;
    border-style: solid;
  }
}
